# Client
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_OSM_API_URL=https://nominatim.openstreetmap.org

# Server
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

VITE_API_URL=http://localhost:8080
VITE_ZOOM_CLIENT_URL=http://localhost:5173
